doctype html
html
  head
    title= title
    link(rel='stylesheet', href='jspm_packages/npm/font-awesome@4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='styles/styles.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body(aurelia-app="main")
    block content
